[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservicios-Anderson/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservicios-Anderson/orders-ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservicios-Anderson/products-ms.git
